# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\DHBW\software-engineering\II\03_training\01_projekte\02_airbus_a350\02_abgabe\components\tcas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
